.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.880371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.880371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.880371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.257500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.257500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.257500,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.260000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.260000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.260000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._e{margin-left:-1.012000px;}
._c{width:1.188000px;}
._d{width:2.596000px;}
._1{width:51.568000px;}
._3{width:53.548000px;}
._2{width:55.396000px;}
._4{width:69.652000px;}
._7{width:85.024000px;}
._0{width:91.960000px;}
._6{width:101.248000px;}
._a{width:147.620000px;}
._5{width:223.296000px;}
._9{width:280.016000px;}
._b{width:281.336000px;}
._8{width:306.592000px;}
.fc3{color:rgb(192,0,0);}
.fc2{color:rgb(146,208,80);}
.fc1{color:rgb(112,48,160);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:20.000000px;}
.fs2{font-size:28.000000px;}
.fs4{font-size:32.000000px;}
.fs1{font-size:36.000000px;}
.fs0{font-size:44.000000px;}
.y62{bottom:3.954000px;}
.y6b{bottom:6.165001px;}
.y65{bottom:7.740000px;}
.y69{bottom:7.815000px;}
.y6d{bottom:7.965000px;}
.y66{bottom:11.073000px;}
.y0{bottom:14.000000px;}
.y61{bottom:17.382001px;}
.y2d{bottom:24.389008px;}
.y74{bottom:26.114021px;}
.y73{bottom:35.880020px;}
.y72{bottom:45.646021px;}
.y2c{bottom:46.361008px;}
.y71{bottom:55.412021px;}
.y2b{bottom:57.347008px;}
.y70{bottom:65.178020px;}
.y6f{bottom:67.602021px;}
.y2a{bottom:68.333008px;}
.y27{bottom:75.243003px;}
.y55{bottom:78.500000px;}
.y26{bottom:88.671020px;}
.y54{bottom:97.451019px;}
.y25{bottom:102.099021px;}
.y53{bottom:110.879024px;}
.y24{bottom:115.526999px;}
.y52{bottom:124.307022px;}
.y23{bottom:128.955039px;}
.y51{bottom:137.735023px;}
.y6e{bottom:139.209044px;}
.y22{bottom:142.383015px;}
.y50{bottom:151.163024px;}
.y21{bottom:155.811012px;}
.y6c{bottom:162.611034px;}
.y7b{bottom:164.591002px;}
.y20{bottom:169.239014px;}
.y4f{bottom:178.019009px;}
.y1f{bottom:182.667014px;}
.y6a{bottom:184.561033px;}
.y4e{bottom:191.447006px;}
.y7a{bottom:191.447021px;}
.y1e{bottom:196.095054px;}
.y68{bottom:202.911036px;}
.y4d{bottom:204.875008px;}
.y1d{bottom:209.523032px;}
.y4c{bottom:218.303008px;}
.y67{bottom:224.561031px;}
.y1c{bottom:236.379020px;}
.y4b{bottom:245.159004px;}
.y79{bottom:245.159026px;}
.y64{bottom:246.061031px;}
.y4a{bottom:258.587005px;}
.y1b{bottom:263.235023px;}
.y63{bottom:267.561030px;}
.y78{bottom:272.015014px;}
.y1a{bottom:276.663025px;}
.y60{bottom:280.989031px;}
.y49{bottom:285.443023px;}
.y19{bottom:290.091025px;}
.y77{bottom:298.871032px;}
.y48{bottom:312.299010px;}
.y18{bottom:316.947021px;}
.y5f{bottom:325.727005px;}
.y47{bottom:325.727019px;}
.y17{bottom:330.375022px;}
.y5e{bottom:339.155006px;}
.y46{bottom:339.155028px;}
.y5d{bottom:352.583007px;}
.y45{bottom:352.583015px;}
.y16{bottom:357.231026px;}
.y44{bottom:366.011016px;}
.y15{bottom:370.659019px;}
.y43{bottom:379.439025px;}
.y14{bottom:384.087025px;}
.y42{bottom:392.867034px;}
.y13{bottom:397.515022px;}
.y41{bottom:406.295021px;}
.y12{bottom:410.943024px;}
.y40{bottom:419.723021px;}
.y11{bottom:424.371024px;}
.y5c{bottom:433.151016px;}
.y3f{bottom:433.151024px;}
.y5b{bottom:446.579021px;}
.y3e{bottom:446.579024px;}
.y10{bottom:451.227024px;}
.y3d{bottom:460.007011px;}
.y5a{bottom:460.007019px;}
.yf{bottom:464.655022px;}
.y3c{bottom:473.435012px;}
.y59{bottom:473.435020px;}
.ye{bottom:478.083023px;}
.y3b{bottom:486.863014px;}
.y58{bottom:486.863021px;}
.yd{bottom:491.511024px;}
.y3a{bottom:500.291015px;}
.y76{bottom:500.291023px;}
.y57{bottom:513.719017px;}
.y39{bottom:513.719024px;}
.yc{bottom:518.367020px;}
.y38{bottom:527.147017px;}
.yb{bottom:531.795020px;}
.y37{bottom:540.575020px;}
.y75{bottom:540.575027px;}
.y36{bottom:554.003020px;}
.ya{bottom:558.651023px;}
.y35{bottom:567.431015px;}
.y34{bottom:580.859015px;}
.y9{bottom:585.507026px;}
.y33{bottom:594.287017px;}
.y32{bottom:607.715018px;}
.y8{bottom:612.363029px;}
.y31{bottom:621.143020px;}
.y56{bottom:634.571018px;}
.y7{bottom:639.219024px;}
.y30{bottom:647.999019px;}
.y6{bottom:652.647025px;}
.y5{bottom:666.075027px;}
.y2f{bottom:674.855019px;}
.y4{bottom:679.503028px;}
.y2e{bottom:688.283019px;}
.y3{bottom:692.931025px;}
.y29{bottom:698.757019px;}
.y2{bottom:719.787026px;}
.y1{bottom:733.215027px;}
.y28{bottom:789.000000px;}
.h11{height:14.042969px;}
.hb{height:15.428000px;}
.hd{height:19.660156px;}
.hf{height:19.850000px;}
.h12{height:22.968750px;}
.hc{height:23.000000px;}
.he{height:23.150000px;}
.h10{height:23.450001px;}
.h7{height:25.277344px;}
.h8{height:25.839844px;}
.ha{height:28.856001px;}
.h3{height:30.894531px;}
.h2{height:31.582031px;}
.h4{height:34.460938px;}
.h5{height:41.000000px;}
.h6{height:143.143005px;}
.h9{height:751.500000px;}
.h1{height:828.000000px;}
.h0{height:841.900024px;}
.w5{width:91.500000px;}
.w6{width:100.500000px;}
.w2{width:118.000000px;}
.w4{width:163.500000px;}
.w3{width:447.500000px;}
.w1{width:594.500000px;}
.w0{width:595.299988px;}
.x0{left:1.000000px;}
.xe{left:37.650002px;}
.x9{left:41.970002px;}
.x6{left:49.729002px;}
.xa{left:51.013001px;}
.xc{left:54.347002px;}
.xd{left:58.784002px;}
.x12{left:61.551001px;}
.x11{left:65.803001px;}
.x10{left:68.222002px;}
.x2{left:72.000000px;}
.x13{left:75.664000px;}
.x7{left:78.959000px;}
.x14{left:81.000000px;}
.x15{left:100.350000px;}
.x3{left:103.500000px;}
.xf{left:120.274002px;}
.x4{left:126.000000px;}
.x8{left:264.750000px;}
.xb{left:354.750000px;}
.x5{left:401.500000px;}
.x1{left:453.868011px;}
.x16{left:463.929996px;}
.x17{left:475.519008px;}
.x18{left:479.009991px;}
.x19{left:525.067987px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._e{margin-left:-1.349333pt;}
._c{width:1.584000pt;}
._d{width:3.461333pt;}
._1{width:68.757333pt;}
._3{width:71.397333pt;}
._2{width:73.861333pt;}
._4{width:92.869333pt;}
._7{width:113.365333pt;}
._0{width:122.613333pt;}
._6{width:134.997333pt;}
._a{width:196.826667pt;}
._5{width:297.728000pt;}
._9{width:373.354667pt;}
._b{width:375.114667pt;}
._8{width:408.789333pt;}
.fs3{font-size:26.666667pt;}
.fs2{font-size:37.333333pt;}
.fs4{font-size:42.666667pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:58.666667pt;}
.y62{bottom:5.272001pt;}
.y6b{bottom:8.220001pt;}
.y65{bottom:10.320000pt;}
.y69{bottom:10.419999pt;}
.y6d{bottom:10.620000pt;}
.y66{bottom:14.764000pt;}
.y0{bottom:18.666667pt;}
.y61{bottom:23.176001pt;}
.y2d{bottom:32.518677pt;}
.y74{bottom:34.818695pt;}
.y73{bottom:47.840027pt;}
.y72{bottom:60.861361pt;}
.y2c{bottom:61.814677pt;}
.y71{bottom:73.882694pt;}
.y2b{bottom:76.462677pt;}
.y70{bottom:86.904027pt;}
.y6f{bottom:90.136028pt;}
.y2a{bottom:91.110677pt;}
.y27{bottom:100.324004pt;}
.y55{bottom:104.666667pt;}
.y26{bottom:118.228027pt;}
.y54{bottom:129.934692pt;}
.y25{bottom:136.132028pt;}
.y53{bottom:147.838699pt;}
.y24{bottom:154.035999pt;}
.y52{bottom:165.742696pt;}
.y23{bottom:171.940052pt;}
.y51{bottom:183.646698pt;}
.y6e{bottom:185.612059pt;}
.y22{bottom:189.844020pt;}
.y50{bottom:201.550699pt;}
.y21{bottom:207.748016pt;}
.y6c{bottom:216.814713pt;}
.y7b{bottom:219.454670pt;}
.y20{bottom:225.652018pt;}
.y4f{bottom:237.358678pt;}
.y1f{bottom:243.556019pt;}
.y6a{bottom:246.081378pt;}
.y4e{bottom:255.262675pt;}
.y7a{bottom:255.262694pt;}
.y1e{bottom:261.460072pt;}
.y68{bottom:270.548047pt;}
.y4d{bottom:273.166677pt;}
.y1d{bottom:279.364043pt;}
.y4c{bottom:291.070677pt;}
.y67{bottom:299.414708pt;}
.y1c{bottom:315.172026pt;}
.y4b{bottom:326.878672pt;}
.y79{bottom:326.878702pt;}
.y64{bottom:328.081375pt;}
.y4a{bottom:344.782673pt;}
.y1b{bottom:350.980031pt;}
.y63{bottom:356.748041pt;}
.y78{bottom:362.686685pt;}
.y1a{bottom:368.884033pt;}
.y60{bottom:374.652041pt;}
.y49{bottom:380.590697pt;}
.y19{bottom:386.788034pt;}
.y77{bottom:398.494709pt;}
.y48{bottom:416.398680pt;}
.y18{bottom:422.596029pt;}
.y5f{bottom:434.302673pt;}
.y47{bottom:434.302692pt;}
.y17{bottom:440.500029pt;}
.y5e{bottom:452.206675pt;}
.y46{bottom:452.206704pt;}
.y5d{bottom:470.110676pt;}
.y45{bottom:470.110687pt;}
.y16{bottom:476.308034pt;}
.y44{bottom:488.014688pt;}
.y15{bottom:494.212026pt;}
.y43{bottom:505.918700pt;}
.y14{bottom:512.116033pt;}
.y42{bottom:523.822712pt;}
.y13{bottom:530.020030pt;}
.y41{bottom:541.726695pt;}
.y12{bottom:547.924032pt;}
.y40{bottom:559.630695pt;}
.y11{bottom:565.828032pt;}
.y5c{bottom:577.534688pt;}
.y3f{bottom:577.534698pt;}
.y5b{bottom:595.438695pt;}
.y3e{bottom:595.438699pt;}
.y10{bottom:601.636032pt;}
.y3d{bottom:613.342682pt;}
.y5a{bottom:613.342692pt;}
.yf{bottom:619.540029pt;}
.y3c{bottom:631.246682pt;}
.y59{bottom:631.246694pt;}
.ye{bottom:637.444031pt;}
.y3b{bottom:649.150686pt;}
.y58{bottom:649.150695pt;}
.yd{bottom:655.348031pt;}
.y3a{bottom:667.054686pt;}
.y76{bottom:667.054698pt;}
.y57{bottom:684.958689pt;}
.y39{bottom:684.958698pt;}
.yc{bottom:691.156026pt;}
.y38{bottom:702.862690pt;}
.yb{bottom:709.060027pt;}
.y37{bottom:720.766693pt;}
.y75{bottom:720.766702pt;}
.y36{bottom:738.670694pt;}
.ya{bottom:744.868031pt;}
.y35{bottom:756.574687pt;}
.y34{bottom:774.478687pt;}
.y9{bottom:780.676034pt;}
.y33{bottom:792.382689pt;}
.y32{bottom:810.286691pt;}
.y8{bottom:816.484038pt;}
.y31{bottom:828.190693pt;}
.y56{bottom:846.094691pt;}
.y7{bottom:852.292032pt;}
.y30{bottom:863.998692pt;}
.y6{bottom:870.196033pt;}
.y5{bottom:888.100035pt;}
.y2f{bottom:899.806691pt;}
.y4{bottom:906.004037pt;}
.y2e{bottom:917.710692pt;}
.y3{bottom:923.908034pt;}
.y29{bottom:931.676025pt;}
.y2{bottom:959.716035pt;}
.y1{bottom:977.620036pt;}
.y28{bottom:1052.000000pt;}
.h11{height:18.723958pt;}
.hb{height:20.570667pt;}
.hd{height:26.213542pt;}
.hf{height:26.466667pt;}
.h12{height:30.625000pt;}
.hc{height:30.666667pt;}
.he{height:30.866666pt;}
.h10{height:31.266668pt;}
.h7{height:33.703125pt;}
.h8{height:34.453125pt;}
.ha{height:38.474668pt;}
.h3{height:41.192708pt;}
.h2{height:42.109375pt;}
.h4{height:45.947917pt;}
.h5{height:54.666667pt;}
.h6{height:190.857340pt;}
.h9{height:1002.000000pt;}
.h1{height:1104.000000pt;}
.h0{height:1122.533366pt;}
.w5{width:122.000000pt;}
.w6{width:134.000000pt;}
.w2{width:157.333333pt;}
.w4{width:218.000000pt;}
.w3{width:596.666667pt;}
.w1{width:792.666667pt;}
.w0{width:793.733317pt;}
.x0{left:1.333333pt;}
.xe{left:50.200002pt;}
.x9{left:55.960002pt;}
.x6{left:66.305336pt;}
.xa{left:68.017335pt;}
.xc{left:72.462669pt;}
.xd{left:78.378670pt;}
.x12{left:82.068001pt;}
.x11{left:87.737335pt;}
.x10{left:90.962669pt;}
.x2{left:96.000000pt;}
.x13{left:100.885333pt;}
.x7{left:105.278666pt;}
.x14{left:108.000000pt;}
.x15{left:133.800001pt;}
.x3{left:138.000000pt;}
.xf{left:160.365336pt;}
.x4{left:168.000000pt;}
.x8{left:353.000000pt;}
.xb{left:473.000000pt;}
.x5{left:535.333333pt;}
.x1{left:605.157349pt;}
.x16{left:618.573329pt;}
.x17{left:634.025343pt;}
.x18{left:638.679987pt;}
.x19{left:700.090650pt;}
}
