img {
    max-width: 100%;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

#padlock {
    margin-top: 200px;
    width: 90px;
}

.elelment h2 {
    font-size: 2.5em;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    font-weight: 700;
}

.element-main {
    width: 27%;
    background: #fff;
    margin-top: 10px;
    border-radius: 5px;
    padding: 3em 2em;
    margin-top: -20px;
}

.element-main h1 {
    text-align: center;
    font-size: 2.3em;
    color: #8a2a2b;
    font-weight: 700;
}

.element-main p {
    font-size: 1em;
    color: #696969;
    line-height: 1.5em;
    margin: 1.5em 0em;
    text-align: center;
}

.element-main input[type="email"] {
    font-size: 1em;
    color: #A29E9E;
    padding: 1em 0.5em;
    display: block;
    width: 95%;
    outline: none;
    margin-bottom: 1em;
    text-align: center;
    border: 1px solid #B9B9B9;
    border-radius: 40px;
}

.element-main input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: linear-gradient(to right top, #212529, #182848, #182848, #8a2a2b, #8a2a2b);
    width: 50%;
    padding: 0.8em 0em;
    outline: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    border-bottom: 3px solid black;
    display: block;
    margin: 1.5em auto 0;
}

.element-main input[type="submit"]:hover {
    background: #8a2a2b;
    border-width: 1px;
    border-color: #000;
    border-radius: 50px;
    border-bottom: 3px solid #2F2F2F;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

#emailInput:focus {
    border-color: #8a2a2b;
}


/*--media quiries start here--*/

@media(max-width:1440px) {}

@media(max-width:1366px) {}

@media(max-width:1280px) {
    .elelment h2 {
        margin-top: 1em;
    }
    .copy-right {
        margin: 6em 0em 2em 0em;
    }
    .element-main {
        width: 30%;
    }
}

@media(max-width:1024px) {
    .element-main {
        width: 37%;
    }
}

@media(max-width:768px) {
    .element-main {
        width: 49%;
    }
    .elelment h2 {
        font-size: 2em;
    }
    .element-main {
        width: 60%;
    }
    .element-main h1 {
        font-size: 2em;
    }
}

@media(max-width:640px) {}

@media(max-width:480px) {
    .element-main {
        width: 80%;
        padding: 3em 1.5em;
    }
    .copy-right {
        margin: 5em 0em 2em 0em;
    }
    .copy-right p {
        font-size: 0.9em;
    }
}

@media(max-width:320px) {
    .elelment h2 {
        font-size: 1.5em;
    }
    .element-main h1 {
        font-size: 1.5em;
    }
    .element-main {
        width: 80%;
        margin: 2em auto 0em;
        padding: 1.5em 1.5em;
    }
    .element-main p {
        font-size: 0.9em;
    }
    .element-main input[type="submit"] {
        font-size: 0.9em;
        width: 75%;
    }
    .element-main input[type="text"] {
        font-size: 0.9em;
        padding: 0.8em 0.5em;
    }
    .copy-right {
        margin: 3em 0em 2em 0em;
    }
    .copy-right p {
        font-size: 0.85em;
        padding: 0 4px;
    }
}


/*--media quiries end here--*
